name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: docker build -t pratikmaghade/wisecow:latest .

      - name: Push Docker image
        run: docker push pratikmaghade/wisecow:latest

      - name: Set up Kubernetes config
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" | base64 --decode > $HOME/.kube/config

      - name: Decode TLS secrets and apply to Kubernetes
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.CLIENT_CRT }}" | base64 --decode > $HOME/.kube/client.crt
          echo "${{ secrets.CLIENT_KEY }}" | base64 --decode > $HOME/.kube/client.key
          echo "${{ secrets.CA_CRT }}" | base64 --decode > $HOME/.kube/ca.crt
          chmod 600 $HOME/.kube/client.crt
          chmod 600 $HOME/.kube/client.key
          chmod 600 $HOME/.kube/ca.crt

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f /home/ubuntu/wisecow/Deployment.yml
          kubectl apply -f /home/ubuntu/wisecow/Service.yml
          kubectl apply -f /home/ubuntu/wisecow/ingress.yml
          kubectl rollout restart deployment/wisecow-deployment
