name: CI/CD Pipeline

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker buildx build --push --tag ${{ secrets.DOCKER_HUB_USERNAME }}/wisecow:latest .

      - name: Set up Kubernetes
        run: |
          echo "${{ secrets.KUBECONFIG }}" | base64 --decode > $HOME/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f /home/ubuntu/wisecow/Deployment.yml
          kubectl apply -f /home/ubuntu/wisecow/Service.yml
          kubectl apply -f /home/ubuntu/wisecow/ingress.yml

      - name: Expose Service on Port 4499
        run: |
          kubectl port-forward svc/wisecow-service 4499:4499 --address 0.0.0.0 &
        
      - name: Verify Access
        run: |
          curl http://$(curl -s http://169.254.169.254/latest/meta-data/public-ipv4):4499
